* {
    box-sizing: border-box;
    color: black;
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    background-color: rgba(47, 41, 109, 0.5);
}
html {
    line-height: 1.5;
}
.overall-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: row wrap;
    justify-content: center;
}
.header-container {
    width: 100vw;
    height: fit-content;
}
h1 {
    text-align: center;
    margin-top: 0;
    font-size: 6rem;
    text-decoration: underline solid black 2px;
}
.main-container {
    display: flex;
    width: 100vw;
}
.second-container,
.first-container {
    display: flex;
    padding: 3rem;
}
.first-container {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 40vw;
    font-size: 2rem;
    text-align: center;
}
.second-container {
    position: relative;
    align-items: center;
    width: 60vw;
    padding: 7rem;
}
button,
input {
    border-radius: 10%;
    padding: 10px;
    font-size: 1rem;
}
button {
    border: 2px silver solid;
    background-color: lightblue;
    display: inline-block;
}
.grid-container {
    width: fit-content;
    display: flex;
    gap: 0.5rem;
}